{
   "trailingComma": "es5",
   "semi": false,
   "singleQuote": true,
   "arrowParens": "always",
   "printWidth": 100,
   "bracketSpacing": true,
   "endOfLine": "lf",
   "tabWidth": 3,
   "plugins": ["prettier-plugin-tailwindcss"]
}
